<head>
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/bootstrap.min.css') }}">
</head>
<div class="container">
<div class="pricing-header p-3 pb-md-4 mx-auto text-center">
      <h1 class="display-4 fw-normal">Камеры</h1>
      <p class="fs-5 text-muted">------------Это камеры------------</p>
    </div>
      <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm">
          <div class="card-header py-3">
            <h4 class="my-0 fw-normal">Камера 1</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">Live 1<small class="text-muted fw-light">/тестовая вэбка</small></h1>
            <ul class="list-unstyled mt-3 mb-4">
            </ul>
            <button onclick="location.href='/cam'" type="button" class="w-100 btn btn-lg btn-primary">Просмотреть`</button>
          </div>
        </div>
      </div>
    </div>